/* Geral */ 

body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: 'Roboto';
}

h2 {
    font-size: 30px;
}


/* navba */

#navbar {
    background-color: black;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
    width: 100%;
    
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    width: 200px;
    margin-top: 10px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin-left: 10px;
    
}

.ultimo-nav {
    margin-right: 50px;
}

#navbar-list li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

#navbar-list li a:hover {
    background-color: #1C5DA7;
    border-radius: 5px;
}

#navbar a {
    padding: 10px;
}

body {
    background-image: url(Imagens/imagem-background.png);
    background-size: cover;
    background-attachment:fixed;
}

/* banner */
#main-banner {
    height: 100vh;
    width: 100vw;
}

.logo-img {
   width: 60px;
   margin: 40px 15px;
}

.img-perfil {
    width: 330px;
}

#banner-info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte-1 {
    color: #FFF;
    padding-bottom: 20px;
    text-align: center;
}

.text-prof {
    font-weight: 100;
    margin-top: 10px;
    box-shadow: #000000;
}

.parte-1 h2, .parte-1 h1 {
    text-shadow: 0.1em 0.1em #333
}

#link-topo {
    text-decoration: none;
    color: #FFF;
    background-color: #1C5DA7;
    padding: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    box-shadow: 3px 3px 10px #333;
}

/* about inicio */ 

#about-section {
    margin-bottom: 50px;
}

#about-section h1 {
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
    text-shadow: 0.1em 0.1em #333;
    font-size: 30px;
}

.container-about {
    background-color: #FFF;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.icon-about {
    width: 50px;
    margin: 0 50px 50px 50px;
}

.about-eu {
    padding: 50px;
    text-align: justify;
    font-size: larger;
}

.banner-about {
    display: flex;
    justify-content: center;
}

.titulo-about {
    color: #1C5DA7;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.descricao-about {
    margin-right: 20px;
    font-size: large;
}

.banner-tecnologias {
    width: 1000px;
    padding: 10px;
}

.container-tecnologias {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Jobs */

#jobs-section {
    margin-top: 200px;
}

.titulo-job {
    text-align: center;
    color: #FFF;
    text-shadow: 0.1em 0.1em #333;
    font-size: 30px;
}

.container-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 200px 0;
}

.box-job {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 150px 20px 150px;
}

.destaque-job {
    color: #1C5DA7;
    font-weight: bold;
    padding: 10px;
}

.texto-job p {
    font-size: 20px;
    padding-left: 10px;
    font: 'roboto';

}

/* Contato */ 

.container-form {
    background-color: #1C5DA7;
    border-radius: 20px;
    padding: 50px;
    margin: 200px;

}

.titulo-contato {
    text-align: center;
    color: #FFF;
    text-shadow: 0.1em 0.1em #333;
    font-size: 30px;
    margin-bottom: 30px;
}

.text-contato {
    margin-bottom: 100px;
    color: #FFF;
    font-size: 20px;
    font-weight: lighter;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input, textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
    display: block;
}


footer {
    height: 30px;
    background-color: #1C5DA7;
    text-align: center;
}

footer p {
    font: roboto;
    font-size: 20px;
    
    color: #FFF;
}

.detail {
    font-weight: bold;
}

/* responsivo celulares */ 

@media(max-width: 450px) {
    
    /* Geral */ 

    p, input, textarea {
        font-size: 1.2rem;
    }

    /* navbar */

    #navbar img {
        width: 150px;
    }

    #navbar li {
        margin-left: 0;
    } 

    .ultimo-nav { 
        margin-right: 0;
    }

    #navbar-list li a {
        font-size: 12px;
    }

    #navbar-list {
        padding: 0;
    }

    header {
        margin-bottom: 50px;
    }

    /* banner */

    #banner-info {
        display: inline;
    }

    .parte-1 h1 {
        font-size: 20px;
    }

    .parte-1 h2 {
        font-size: 15px;
    }

    .parte-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .logo-img {
        width: 50px;
    }

    .div-imgperfil {
        margin-left: 25%;
        margin-right: auto;
    }

    .img-perfil {
        width: 250px;
    }

    /* Jobs */

    .banner-tecnologias {
        width: 150px;
        margin: 0;
    }

    /* Formulario */

    .container-form, form, input, textarea {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-about1 {
        font-size: 10px;
    }

}

