/* Geral */ 

body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 30px;
}

/* navba */

#navbar {
    background-color: black;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    width: 200px;
    margin-top: 10px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin-left: 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

#navbar-list li a:hover {
    background-color: #1C5DA7;
    border-radius: 5px;
}

#navbar a {
    padding: 10px;
}

/* banner */
#main-banner {
    height: 100vh;
    background-image: url(Imagens/imagem-background.png);
    background-size: cover;
}

.logo-img {
    width: 50px;
}

.img-perfil {
    width: 390px;
}

#banner-info {
    display: flex;
    justify-content: center;
}